#hero {
  text-align: center;
}

.jobDate {
  text-align: right;
}

.education {
  text-align: center;
}

.schoolDetails {
  text-align: center;
}

.btn {
  margin: 4px;
}

.disabled:hover {
  cursor: default;
}